#Integration Server Security Auditing settings
#Fri Mar 03 07:30:14 CET 2023
AUDIT_STARTUP=false
CATEGORIES=Authentication,Authorization,Certificates,Configuration,CSRFGuard,Custom,Enterprise Gateway,JDBC Pools,Keystore,Packages,Passwords,Ports,Proxy Servers,Remote Servers,Services,SSL,Web Services
RESULT=Success or Failure
